html,
body {
    color: #505050;
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
h1
{
    font-weight: 400;
    color: white;
}
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #303030;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.75em;
}
a {
    color: #e67e22;
    outline: none;
}
a:hover {
    color: red;
    text-decoration:none;
}
a:active,
a:focus,
a img {
    outline: none;
}
.btn {
    padding: 7px 14px;
    border-radius: 2px;
}
.btn-default {
    border: 1px solid #e67e22;
    background: #e67e22;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-left: 80%;
    border-radius: 10%;
}
.btn-default:hover {
    border: 1px solid #303030;
    background: #303030;
    color: #ffffff;
}
.btn-default:focus {
    outline: none;
}
.btn-default[disabled] {
    border: 1px solid #303030;
    background: #303030;
    color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
    padding: 7px 7px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #e67e22;
    outline: none;
}
blockquote {
    border-left: 4px solid #e67e22;
}
pre {
    padding: 0;
    background: none;
    border: none;
}
::-moz-selection {
    color: #ffffff;
    background: #e67e22;
    text-shadow: none;
}
::selection {
    color: #ffffff;
    background: #e67e22;
    text-shadow: none;
}

.bg {
    background: url("../imgs/background.jpg") no-repeat center 0;
    top: 0;
    left: 0;
    height: 100%;

    z-index: -10;
    zoom: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    max-height: 600px;
}
.bg1 {
    background: url("../imgs/background1.jpg") no-repeat center 0;
    top: 0;
    left: 0;
    height: 100%;

    z-index: -10;
    zoom: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    max-height: 600px;
}
.bg3 {
    background:url("../imgs/background3.jpg") no-repeat center 0;
    top: 0;
    left: 0;
    height:100%;

    z-index:-10;
    zoom: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    max-height:600px;
}

.navbar-brand
{
    height: 50px;
    width: 50px;
}
.Brand
{
    height: 40px;
    width: 40px;
    display: inline;
}
li{
    padding-left: 20px;
}
.site-author-image {
    display: block;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.site-author-name {
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.site-description {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: #999;
    margin-bottom: 20px;
}
.site-state {
    overflow: hidden;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 20px;
}
.site-state-item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid black;
    margin-bottom: 20px;
}
.site-state-item:first-child {
    border-left: none;
}
.site-state-item a {
    border-bottom: none;
}
.site-state-item-count {
    display: block;
    text-align: center;
    color: inherit;
    font-weight: 600;
    font-size: 22px;
}
.site-state-item-name {
    font-size: 20px;
    color: #999;
}
.feed-link {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    margin-bottom: 20px;
}
.feed-link a {
    display: block;
    color: #fc6423;
    border: none;
}
.feed-link a:hover {
    background: none;
    color: #e34603;
}

/*-----------------------------------------------------标签卡片样式--------------------------------*/
.card {
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.card .card-image img {
    border-radius: 5px 5px 0 0;
}

.chip-container {
    margin-top: -60px;
}

.chip-container .tag-title {
    margin-bottom: 10px;
    color: #3C4858;
    font-size: 1.75rem;
    font-weight: 400;
}

.chip-container .tag-chips {
    margin: 1rem auto 0.5rem;
    max-width: 850px;
    text-align: center;
}

.chip-container .tags-posts {
    margin-top: 20px;
}

.chip-container .chip-default {
    color: #34495e;
}

.chip-container .chip-active {
    color: #FFF !important;
    background: linear-gradient(to bottom right, #FF5E3A 0%, #FF2A68 100%) !important;
    box-shadow: 2px 5px 10px #aaa !important;
}

.chip-container .chip {
    margin: 10px 10px;
    padding: 0 16px;
    display: inline-block;
    height: 38px;
    min-width: 80px;
    line-height: 39px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.chip-container .chip:hover {
    color: #fff;
    background: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%) !important;
}

.chip .tag-length {
    margin-left: 5px;
    margin-right: -2px;
    font-size: 0.5rem;
}

.chip-default .tag-length {
    color: #e91e63;
}

.chip-active .tag-length {
    color: #fff;
}
.chip-container .chip-default {
    color: #34495e;
}

.chip-container .chip-active {
    color: #FFF !important;
    background: linear-gradient(to bottom right, #FF5E3A 0%, #FF2A68 100%) !important;
    box-shadow: 2px 5px 10px #aaa !important;
}
.card-content .chip-actives {
    background: linear-gradient(to bottom right, #FF5E3A 0%, #FF2A68 100%) !important;
    box-shadow: 2px 5px 10px #aaa !important;
}

.chip-container .chip {
    margin: 10px 10px;
    padding: 0 16px;
    display: inline-block;
    height: 38px;
    min-width: 80px;
    line-height: 39px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.chip-container .chip:hover {
    color: #fff;
    background: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%) !important;
}

.chip .tag-length {
    margin-left: 5px;
    margin-right: -2px;
    font-size: 0.5rem;
}
/*---------------------------------------------------------------------------------------------------------*/

